<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<link rel="stylesheet" type="text/css" media="all" href="css/global.css" th:href="@{/css/global.css}" />
	<link rel="stylesheet" type="text/css" media="all" href="css/transfer-failed.css" th:href="@{/css/transferFailed.css}" />
	<title>Transfer failed</title>
</head>
<body>
	<div th:replace="/WEB-INF/infoPane :: header"> </div>
	
	<div class="transfer-failed-div">
		<div class="transfer-failed-title">Your transfer has failed</div>
		<div class="transfer-failed-reason">
			The reason is: <b><span th:text="${reason}">sample reason</span></b>
		</div>
		<hr>
		<a th:href="@{/GoToAccountStatus(accountCode = ${accountCode})}">Press here to go back to your account</a>
		
	</div>
	
</body>
</html>