/*
    Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
    Root
*/
html, body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; /* first supported font will be selected for the page */
    font-size: 1rem; /* 1* font size of root element */
    font-weight: 400; /* font thickness */
    line-height: 1.5; /* 1.5 * font size */
    color: #212529; /* font color */
}
/*
    Header
*/
.header-div{
	position: absolute; 
    right: 1rem;
    top: 1rem;
	min-width: 200px; 
	height: 150px; 
	background-color: #fafafa; 
    border: solid 2px #7952b3; 
    border-radius: 20px;
    text-align: center; 
    padding: 0.5rem;
    z-index: 100;
}
.header-content{
    line-height: 1.5rem;
}
.header-buttons{
    display: flex;
    flex-direction: column;
}
.header-buttons span {
    margin-top: 10px;
}
.header-title{
	color : #7952b3; 
}
/*
    Standard elements
*/
a {
    color: #4e73df;
    cursor: pointer;
    text-decoration: none;
}
hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/*
    Buttons
*/
.btn{
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    border-style: solid;
}
.btn-large{
    padding: .8rem 2rem;
    font-weight: 600;
    font-size: 1rem;
}
.btn-medium{
    padding: .25rem 1rem;
    font-weight: 600;
    font-size: 1rem;
}
.btn-small{
    padding: .25rem 1rem;
    font-weight: 600;
    font-size: 0.8rem;
}
.btn-purple{
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
    cursor: pointer;
}
.btn-navy{
    color: #fff;
    background-color: #005366;
    border-color: #005366;
    cursor: pointer;
}
.btn-blue{
    color: #fff;
    background-color: #0f8ba8;
    border-color: #0f8ba8;
    cursor: pointer;
}
.btn-inverted-purple{
    color:#000;
    background-color: #fff;
    border-color: #7952b3;
    border-width: 2px;
}
.btn-inverted-purple:hover{
    color:#fff;
    background-color: #7952b3;
}
/*
    Forms
*/
.form-group{
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row; /* children flow as row */
    justify-content: center; /* center flex childen */
}
.form-group > input {
    padding: 0.5rem;
    border-radius: 0 5px 5px 0;
    border: 1px solid #d1d3e2;
    color: #6e707e;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.5; /* 1.5 times the font size */
    width: 80%;
}
.form-group > label {
    padding: 0.5rem;
    border-radius: 5px 0 0 5px;
    color: #495057;
    text-align: center;
    white-space: nowrap; /* no new line for white spaces */
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-right: 0; /* reset border right, as input's one is already present */
    font-weight: 400;
    font-size: 0.75rem;
    width: 20%;
}
/*
    Colored divs
*/
.purple-div{
    margin: 0 auto;
    border: 2px solid #6f42c1;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.175); /* x-offset y-offset radius color */
    padding: 1rem;
}
.navy-div{
    margin: 0 auto;
    border: 2px solid #005366;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.175); /* x-offset y-offset radius color */
    padding: 1rem;
}
.blue-div{
    margin: 0 auto;
    border: 2px solid #0f8ba8;
    border-radius: 20px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.175); /* x-offset y-offset radius color */
    padding: 1rem;
}
.purple-div .form-group > input:hover{
    border: 1px solid #6f42c1;
}

/*
    Card
*/
.card{
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #000000;
    position: relative;
    min-height: 80px;
    border-radius: 10px;
}
.card + .card{
    margin-top: 10px;
}
.card > .btn-primary{
    position: absolute;
    top: 60px;
    right: 1rem;
}
.card-title{
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card-data{
    margin-top: 0.25rem;
}
.card-blue{
    border: 1px solid #17a2b8;
}
/*
    Linked card
*/
.linked-card{
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #000000;
    border-bottom: none;
    position: relative;
    min-height: 80px;
}
.linked-card:first-child{
    border-top-left-radius: 10px; /* specified this way, otherwise we'll have problems with a single node */
    border-top-right-radius: 10px; /* in that case, last-child will reset top radius */
}
.linked-card + .linked-card{
    border-top: 1px dashed #000000;
}
.linked-card:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid #000000;
}
.linked-card-title{
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.linked-card-data{
    margin-top: 0.25rem;
}
.linked-card > .btn-primary{
    position: absolute;
    top: 60px;
    right: 1rem;
}
/* Blue version */
.linked-card-blue{
    border: 1px solid #17a2b8;
    border-bottom: none; /* need to reset the bottom border, otherwise consecutive cards would have double borders */
}
.linked-card-blue + .linked-card-blue{
    border-top: 1px dashed #17a2b8;
}
.linked-card-blue:last-child{
    border-bottom: 1px solid #17a2b8;
}
/*
    Warning
*/
.warning-message{
    color: #e74a3b;
}