body{
    text-align: center;
}
.transfer-confirmed{
    padding: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
}
.transfer-confirmed-title{
    font-size: 2rem;
    font-weight: 500;
    color: #28a745;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.transfer-div{
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}
.tranfer-source, .transfer, .tranfer-destination{
    width: 33%;
    text-align: center;
}
.title{
    font-size: 25px;
    font-weight: 600;
}
.content{
    font-size: 20px;
}
span{
    font-weight: 500;
}