body{
    text-align: center;
}
.container{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
.login-div,.register-div{
    width: 50%;
}
.login-title,.register-title{
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}
.register-div{
    margin-top: 2rem;
    display: none;
}
.warning-message{
    color: #e74a3b;
    display: none;
    margin-top: 1rem;
}